
.gallery-container{

    justify-content: center;
    vertical-align: middle;
    min-height: 100%;
    display: flex;
    flex-direction: column;

}

.gallery {
    align-items: center;
    background: #e3e3e3;
    display: flex;
    height: 200px;
    justify-content: center;
    margin-bottom: 0px ;
    margin-top: 0px;
}
@keyframes scroll {
    0% {
        transform: translateX(0);
   }
    100% {
        transform: translateX(calc((-350px - 16px) * 8));
   }
}

@keyframes scrollo1 {
    0% {
        transform: translateX(-80px);
   }
    100% {
        transform: translateX(calc(((-350px - 16px) * 8) - 80px));
   }
}

@keyframes scrollo2 {
    0% {
        transform: translateX(-20px);
   }
    100% {
        transform: translateX(calc(((-350px - 16px) * 8) - 20px));
   }
}


.slider {
    height: 200px;
    margin: auto;
    background: white;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.slider::before, .slider::after {
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 200px;
    position: absolute;
    width: 10%;
    z-index: 2;
}
.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}
.slider::before {
    left: 0;
    top: 0;
}
.slider .slide-track {
    animation: scroll 35s linear infinite;
    display: flex;
    width: calc((350px + 16px) * 16);
}

.slider .slide-tracko1 {
    animation: scrollo1 30s linear infinite;
    display: flex;
    width: calc((350px + 16px) * 16);
}


.slider .slide-tracko2 {
    animation: scrollo2 25s linear infinite;
    display: flex;
    width: calc((350px + 16px) * 16);
}


.slider .slide {
    height: 200px;
    width: 350px;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.blank{
    margin: 48px;
}

.img-fit
{
    object-fit: cover;
    width: 350px;
    height: 90%;
    border-radius: 8px;
}
