
@media only screen and ((max-device-width: 750px) or (max-width: 750px)){
    .container {
        overflow-y: scroll;
        scroll-snap-type: y mandatory;
        scroll-snap-stop: always;
        max-height: 100vh;
     }
      
   
    .large{
        font-size: 8em;
    }
    
    .sublarge{
        font-size: 6em;
    }
    
    .medium{
        font-size: 3em;
    }
    
    .submedium{
        font-size: 2.5em;
    }
    
    .small{
        font-size: 1.8em;
    }

    .mleft{
        margin-left: 0.75em;
    }
    
    .mright{
        margin-right: 0.75em;
    }
    
    .mbottom{
        margin-bottom: 0.75em;
    }
    
    .mtop{
        margin-top: 0.75em;
    }
    
    .mleft-l{
        margin-left: 3em;
    }
    
    .mright-l{
        margin-right: 3em;
    }
    
    .mbottom-l{
        margin-bottom: 3em;
    }
    
    .mtop-l{
        margin-top: 3em;
    }
    
    .mvert{
        margin-bottom: 0.75em;
        margin-top: 0.75em;
    }
    
    .mhorz{
        margin-left: 0.75em;
        margin-right: 0.75em;
    }
    
    .mvert-l{
        margin-bottom: 3em;
        margin-top: 3em;
    }
    
    .pvert-l{
        padding-bottom: 3em;
        padding-top: 3em;
    }
    
    .mhorz-l{
        margin-left: 3em;
        margin-right: 3em;
    }

    .feature-list{
        flex-direction: column;
    }
  
    .sidebar{
        position: relative !important;
        top: 50%;
        align-self: center;
        align-items: center;
        align-content: center;
        height: 100vh;
        display: flex;
        scroll-snap-align: start;  
        scroll-snap-stop: always;
    }

    .sidebar.subtext{
        height: unset;
        scroll-snap-align: unset;  
        scroll-snap-stop: unset;

    }

    .showcase{
        min-height: 100vh;
    }

    .child{
        min-height: 100vh;
    }

    .feature-content{
        flex-direction: column;
        scroll-snap-align: start;  
        scroll-snap-stop: always;
    }

        
    .sticky{
        position: relative !important;
        z-index: unset;
    }

}