.container {
    overflow-y: scroll;
    scroll-snap-type: y proximity;
    scroll-snap-stop: always;
    max-height: 100vh;
 }
  
.child {
    scroll-snap-align: start ;
    min-height: 95vh;
}


.stop {
    scroll-snap-stop: always;
}