@import url('gallery.css');
@import url('text.css');
@import url('scrollsnap.css');
@import url('mobile.css');


#secondsub{
    animation-delay: 2s;
}

#thirdsub{
    animation-delay: 4s;
}
#fourthsub{
    animation-delay: 6s;

}

#fifthsub{
    animation-delay: 8s;

}


@keyframes head {
    0% { opacity:0;}
    20% {opacity: 1;}
    30% {opacity: 0;}
    100% {opacity: 0;}
}

.headtext{
    animation-name: head;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    opacity: 0;
}

.black{
    background-color: #101010 !important;
}

.red{
    background-color: red !important;
}

/* experiements above */

html{
    background-color: #222222;
    color: white;
}

body{
    margin: 0;
}

li {
    list-style: circle;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: center;
    margin-bottom: 12px;
    opacity: 0.5;
}

ul{
    padding: 0;
    margin: 0;
    list-style-type: circle;
    list-style-position: inside;
}

.aligntop{
    justify-items: start;
    justify-content: start;
    align-content: flex-start;
}

.feature-list{    
    margin-left: 52px;
    margin-right: 52px;
    margin-top: 52px;
    align-content: center;
    align-self: stretch;
    align-items: center;
    gap: 96px;
    justify-content:flex-start;
}

.showcase{
    display: flex;
    Height: 90vh;
    font-family: noto;
    font-weight: 850;
    object-fit: cover;
    align-content: flex-end;
    justify-items: center;
    justify-content: center;
    flex-direction: column;
    position: static;
    padding: 1em;
    margin: 1em;
    background-color: rgba(34,34,34,1);
    top: 0%;
}

.nomargin{
    margin:0px !important;
}

.flex{
    display: flex;
}

.flex.gap{
    gap: 1em;
}

.flexwrap{
    flex-wrap: wrap;
}

.hackathoncardcontainer{
    flex-direction: row;
}

.hackathoncard{
    min-width: 350px; 
    max-width: 400px;
    border: 2px; 
    border-color: #222222; 
    border-style: solid; 
    padding: 1em;
    border-radius: 0.5em;
    align-self: flex-start;
    min-height: 12em;
}

.header.start{
    background-color: transparent;
    margin-left: -8px;

}

.header.name{
    margin-left: -8px;
    margin-top: 8px;
}

.runner{
    margin-left: -8px;
    position:absolute;
    overflow-wrap: break-word;
}

.top0{
    top: 0%;
}

.showcase-top{
    display: flex;
    min-height: 90vh;
    font-family: noto;
    font-weight: 850;
    object-fit: cover;
    align-content: flex-end;
    justify-items: center;
    flex-direction: column;
    position: static;
    padding: 1em;
    margin: 1em;
    background-color: rgba(34,34,34,1);
    top: 0%;
}

.sidebar{
    align-self: baseline; 
    position: sticky; 
    top: 10%;
}

.sidebar.subtext{
    position: unset; 
    opacity: 0.5; 
    font-size: 12px; 
    font-weight: 100;
}

.feature-content.main{
    display: flex;
    flex: 1 1 100%; 
    flex-direction: column; 
    align-items: stretch;
}

.feature-content{ 
    display: flex; 
    align-items: center;
}

.feature.header{
    font-weight: 200; 
    opacity: 0.5;      
}

.feature.text{
    margin-top: 8px;; 
    margin-bottom: 48px;
}

.feature.explain{
    opacity: 0.5 !important;
    margin-top: 4px;
}

.feature.more{
    opacity: 0.5 !important; 
    color: white;
    margin-top: 4px; 
    padding: 0px;
}

.gradient {
    background: -webkit-linear-gradient(bottom, #101010 60%, transparent);
    background: -moz-linear-gradient(bottom, #101010 60%, transparent);
    background: -ms-linear-gradient(bottom, #101010 60%, transparent);
    background: -o-linear-gradient(bottom, #101010 60%, transparent);
    background: linear-gradient(bottom, #101010 60%, transparent);
  }

.center-v{
    align-self: center;
}

.mleft{
    margin-left: 0.75em;
}

.mright{
    margin-right: 0.75em;
}

.mbottom{
    margin-bottom: 0.75em;
}

.mtop{
    margin-top: 0.75em;
}

.mleft-l{
    margin-left: 3em;
}

.mright-l{
    margin-right: 3em;
}

.mbottom-l{
    margin-bottom: 3em;
}

.mtop-l{
    margin-top: 3em;
}

.mvert{
    margin-bottom: 0.75em;
    margin-top: 0.75em;
}

.mhorz{
    margin-left: 0.75em;
    margin-right: 0.75em;
}

.mvert-l{
    margin-bottom: 3em;
    margin-top: 3em;
}

.pvert-l{
    padding-bottom: 3em;
    padding-top: 3em;
}

.mhorz-l{
    margin-left: 3em;
    margin-right: 3em;
}

.opacity09{
    opacity: 0.9;
}

.opacity08{
    opacity: 0.8;
}

.opacity07{
    opacity: 0.7;
}

.opacity06{
    opacity: 0.6;
}

.opacity05{
    opacity: 0.5;
}


.opacity04{
    opacity: 0.4;
}


.opacity03{
    opacity: 0.3;
}


.align.center{
    text-align: center;
}

.emphasistext{
    font-size: 1.5em;
}

.height100vh{
    min-height: 100vh !important;
}


/* Old Stuff */


p {
    font-family: manrope;
    font-weight: 250;
}

div.text{
    color: white;
    margin: 2em;
}

div.text.content{
    font-family: manrope;
    z-index: 0;
    top: 0;
    padding: 1.5em;
    border: 1.5em;
    border-style: solid;
    border-color: rgba(66,133,244,0.0);
    backdrop-filter: blur(10px) saturate(200%) brightness(40%);
    background-color: rgba(66, 134, 244, 0.556);
    text-align: justify;
    width: 50%;
    margin: 0px;
    border-radius: 0px;
    z-index: 0;
}

div.blank50width{
    width: 60%;
}

div.viewport-inner.balloon1{
    background-image: url('https://images.unsplash.com/photo-1567607365703-a8469a1020c4?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8YmFsbG9vbnx8fHx8fDE2NjQ3MzY3ODg&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1080');
    border-radius: 36px;
    margin-top: 64px;
    margin-bottom: 64px;
}

div.viewport-inner.balloon2{
    background-image: url('https://images.unsplash.com/photo-1606154427799-2f43b8c81742?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8YmFsbG9vbnx8fHx8fDE2NjQ3MjkzNTI&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1080');
    border-radius: 36px;
    margin-top: 64px;
    margin-bottom: 64px;
}



div.viewport-inner{
    display: flex;
    font-family: manrope;
    font-weight: 850;
    z-index: 2;
    top: 0%;
    margin: 48px;
    align-content: center;
    justify-content: center;
    align-items: center;
    border: 1em;
    border-style: solid;
    border-color: #222222;
    z-index: 2;
}

div.bg-sticky{
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.sticky{
    position: sticky;
    z-index: 99;
}

.winning.header{
    top: 0%;
    padding-top: 2.5em !important;
    padding-bottom: 3em !important;
}

.winning.subheader{
    top: 0%;
    margin-top: -3em !important;
}

.photo.header{
    top: 10% !important;
    padding-top: 2.5em !important;
    padding-bottom: 3em !important;
    text-shadow: 5px 10px 10px rgba(0, 0, 0, 1),
    -3px 10px 12px rgba(0, 0, 0, 1);}

.photo.subheader{
    top: 0%;
    margin-top: -3em !important;
}

.top0{
    top: 0%;
}

.top40{
    top: 40%;
}

.z80{
    z-index: 80 !important;
}

.winning.header.bg{
    background: -webkit-linear-gradient(top, #101010 90%, transparent);
    background: -moz-linear-gradient(top, #101010 90%, transparent);
    background: -ms-linear-gradient(top, #101010 90%, transparent);
    background: -o-linear-gradient(top, #101010 90%, transparent);
    background: linear-gradient(top, #101010 90%, transparent);
}


div.viewport{
    display: flex;
    Height: 100%;
    font-family: manrope;
    font-weight: 850;
    object-fit: cover;
    align-content: flex-end;
    justify-items: center;
    justify-content: center;
    flex-direction: column;
    position: static;
    padding: 1em;
    margin: 0.5em;
    background-color: rgba(255,255,2555,1);
    top: 0%;
}


.bold.large{
    font-variation-settings: 'wght' 100;
    font-size: 64;
    margin-left: 48px;
    text-align: left;
}

.bold.sublarge{
    font-variation-settings: 'wght' 550;
    font-size: 24;
    margin-left: 48px;
    text-align: left;
    opacity: 0.4;
}

.t1 {
    font-family: 'manrope';
    font-variation-settings: 'wght' 100;
  }
  
  .t2 {
    font-family: 'manrope';
    font-variation-settings: 'wght' 400;
  }
  
  .t3 {
    font-family: 'manrope';
    font-variation-settings: 'wght' 500;
  }
  
  .t4 {
    font-family: 'manrope';
    font-variation-settings: 'wght' 650;
  }
  @keyframes weight {
    50% { font-variation-settings: 'wght' 900; }
  }

div.sticky-img{
    background-image: url('https://images.unsplash.com/photo-1606154427799-2f43b8c81742?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8YmFsbG9vbnx8fHx8fDE2NjQ3MjkzNTI&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1080');
    position: sticky;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

